/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'UNIFY_INPUT' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/unified_input" },
            mode: params.publish_dir_mode,
            pattern: '*.h5ad'
        ]
    }

    withName: 'QUALITY_CONTROL' {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.h5ad'
            ],
            [
                path: { "${params.outdir}/qc" },
                mode: params.publish_dir_mode,
                pattern: 'qc_results_*',
                saveAs: { filename -> filename.replaceFirst('^qc_results_', '') }
            ]
        ]
    }

    withName: 'DOUBLET_DETECTION' {
        ext.args = "--expected-doublet-rate ${params.expected_doublet_rate}"
        publishDir = [
            [
                path: { "${params.outdir}/doublet_detection" },
                mode: params.publish_dir_mode,
                pattern: '*.h5ad'
            ],
            [
                path: { "${params.outdir}/doublet_detection/plots" },
                mode: params.publish_dir_mode,
                pattern: '*.{png,pdf}'
            ]
        ]
    }

    withName: 'STANDARD_PROCESSING' {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/standard_proccessing" },
                mode: params.publish_dir_mode,
                pattern: '*_processed.h5ad'
            ],
            [
                path: { "${params.outdir}/standard_proccessing/standard_processing_results" },
                mode: params.publish_dir_mode,
                pattern: 'standard_processing_results/**'
            ]
        ]
    }

    withName: 'AUTO_ANNOT_CELLTYPIST' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot" },
            mode: params.publish_dir_mode,
            pattern: '*.{csv,json}'
        ]
    }

    withName: 'AUTO_ANNOT_H5AD_TO_RDS' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot/intermediate" },
            mode: params.publish_dir_mode,
            pattern: '*.rds'
        ]
    }

    withName: 'AUTO_ANNOT_AZIMUTH' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot" },
            mode: params.publish_dir_mode,
            pattern: '*.{csv,json}'
        ]
    }

    withName: 'AUTO_ANNOT_SINGLER' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot" },
            mode: params.publish_dir_mode,
            pattern: '*.{csv,json}'
        ]
    }

    withName: 'AUTO_ANNOT_SCTYPE' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot" },
            mode: params.publish_dir_mode,
            pattern: '*.{csv,json}'
        ]
    }

    withName: 'AUTO_ANNOT_SUMMARIZE' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/auto_annot" },
            mode: params.publish_dir_mode,
            pattern: '*.{h5ad,json}'
        ]
    }

    withName: 'INTEGRATE_HARMONYPY' {
        ext.args = [
            "--normalization-method ${params.normalization_method}",
            "--target-sum ${params.target_sum}",
            "--n-top-genes ${params.n_top_genes}",
            "--n-pcs ${params.n_pcs}",
            "--n-neighbors ${params.n_neighbors}",
            "--umap-min-dist ${params.umap_min_dist}",
            "--integration-method ${params.integration_method}",
            "--harmony-theta ${params.harmony_theta}",
            "--harmony-max-iter ${params.harmony_max_iter}",
            params.calculate_integration_metrics ? "--calculate-integration-metrics" : '',
            params.save_pre_integration ? "--save-pre-integration" : '',
            "--output-dir \${PWD}/integration_results"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/integrated" },
                mode: params.publish_dir_mode,
                pattern: 'integrated.h5ad'
            ],
            [
                path: { "${params.outdir}/integrated/samples" },
                mode: params.publish_dir_mode,
                pattern: 'integrated_samples/*'
            ],
            [
                path: { "${params.outdir}/integrated/integration_results" },
                mode: params.publish_dir_mode,
                pattern: 'integration_results/*'
            ]
        ]
    }

    withName: 'MERGE_SAMPLES' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/merged" },
            mode: params.publish_dir_mode,
            pattern: '*.h5ad'
        ]
    }

    withName: 'DIFFERENTIAL_EXPRESSION' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/dge" },
            mode: params.publish_dir_mode,
            pattern: 'dge_results'
        ]
    }

    withName: 'GSEA' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/gsea" },
            mode: params.publish_dir_mode,
            pattern: '*_gsea'
        ]
    }

}
