/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,docker --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                      = 'https://github.com/scverse/scanpy-tutorials/raw/master/pbmc3k_raw.h5ad'
    input_type                 = 'h5ad'
    
    // QC parameters (relaxed for test data)
    min_genes                  = 200
    min_cells                  = 3
    max_mito_percent           = 20
    
    // Skip time-consuming steps for testing
    run_doublet_detection      = true
    run_integration            = false
    run_auto_annotation        = false
    
    // Reduce computational requirements
    n_pcs                      = 20
    clustering_resolutions     = '0.8'
}
